* {
    box-sizing: border-box;

}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px;

}

.nav-link {
    color: #777;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
}

.banner {
    background-image: url(../img/banner.png);
    height: 235px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 60px;
}

.primeiras {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 113px;
    padding-bottom: 100px;
}

.off {
    background-color: #c21858;
    align-items: center;
    color: #FFF;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    height: 662px;
    line-height: 60px;
    padding-top: 60px;
}

h2 {
    text-align: center;
    font-size: 44px;
    padding: 15px;
    
}



.emOff {
    display: flex;
    justify-content: space-evenly;
}



.produtosEmOff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 388px;
    width: 260px;
}

.imgProdOff {
    height: 70%;

}

.textProdOff {
    background: #FFF;
    color: black;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    height: 22%;
    line-height: 22px;
    padding-left: 10px;
    width: 100%;

}

.detalhes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 939px;
    margin: 0 105px 116px 105px;

}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.detalhes div h3 {
    font-weight: 600;
    font-size: 39px;
    font-style: normal;
    text-transform: uppercase;
    color: black;
    margin: 0;

}
.detalhes div p {
    width: 403px;
    height: 99px;
    background-color: #c21858;
    text-align: center;
    padding: 23px 85px;
    margin: 20px 0 35px 0;
    color: #FFF;
    font-weight: 600;
    font-size: 39px;
}


footer {
    background-color: #c21858;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
}

.menufooter {
    list-style: none;
    padding-right: 20px;
}